<fieldset>
  <div class="pure-control-group">
    <%= text_field_tag 'firstname', nil, placeholder: 'Firstname', class: "pure-input-1", required: true %>
  </div>
  <div class="pure-control-group">
    <%= text_field_tag 'lastname', nil, placeholder: 'Lastname', class: "pure-input-1", required: true %>
  </div>
  <div class="pure-control-group">
    <%= text_field_tag 'birthdate', nil, placeholder: 'Birthdate yyyy-mm-dd', class: "pure-input-1", required: true %>
  </div>
  <div class="pure-control-group">
    <%= text_field_tag 'twitter_username', nil, placeholder: '@username', class: "pure-input-1", required: true %>
  </div>
  <div class="pure-control-group">
    <%= email_field_tag 'email', nil, placeholder: 'Email', class: "pure-input-1", required: true %>
  </div>
  <div class="pure-control-group">
    <%= password_field_tag 'password', nil, placeholder: 'Password', class: "pure-input-1", required: true %>
  </div>      
</fieldset>